<div class="row">
  <div class="span12">
    <h1><%= @uploadFile.name %></h1>
    有効期限 <%= @uploadFile.expiry_date %>
    <%= button_to "Download", download_path(@uploadFile), method: "get", class: "btn btn-large btn-primary" %>
  </div>
</div>

<hr>

<div class="row">
  <div class="span3">
    <%= form_for @uploadFile, method: :delete do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Delete", class: "btn btn-large btn-danger" %>
    <% end %>
  </div>
</div>
